.preloader-bg {
  position: fixed;
  z-index: 9999999;
  background: #fff;
  width: 100%;
  height: 100%;
}
.preloader {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader img {
  width: 80px;
}


@media (max-width: 600px) {
  .preloader-bg {
    height: 100vh;
  }
  .preloader img {
    width: 75px;
  }
}

@media (max-width: 500px) {
  .preloader img {
    width: 60px;
  }
}

@media (max-width: 400px) {
  .preloader img {
    width: 50px;
  }
}

@media (max-width: 300px) {
  .preloader img {
    width: 40px;
  }
}

@media (max-width: 900px) and (orientation: landscape) {

  .preloader-bg {
    margin-top: -21.5rem;
  }

  @media (max-width: 600px) {
    .preloader-bg {
      height: 100vh;
    }

    .preloader img {
      width: 75px;
    }
  }

  @media (max-width: 500px) {
    .preloader img {
      width: 60px;
    }
  }

  @media (max-width: 400px) {
    .preloader img {
      width: 50px;
    }
  }

  @media (max-width: 300px) {
    .preloader img {
      width: 40px;
    }
  }
}
